<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.kodkod.sobat">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".DoctorActivity"
            android:label="Data Dokter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataCollectionActivity"
            android:label="Daftar Obat" />
        <activity
            android:name=".DetailActivity"
            android:label="Detil Obat" />
        <activity
            android:name=".InputPatientActivity"
            android:label="Data Pasien" />
        <activity
            android:name=".WriteReceiptActivity"
            android:label="Tulis Resep"></activity>
        <activity android:name=".MainActivity"
            android:label="Menu"/>
        <activity android:name=".PreviewActivity"></activity>
    </application>

</manifest>